body,
html {
  background-color: #CCCCCC;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}


.logo img {
  position: absolute;
  top: 50px;
  right: 20px;
  height: 10%;
  width: 15%;
  z-index: 101;
}

.title{
  position: absolute;
  left: 90vh;
  font-weight: bold;
  margin-top: 40px;
  font: 100px times new roman;
  pointer-events: none;
}

.popup-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-container {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  display: none; 
  height: 98vh;
  width: 30vh;
  pointer-events: none;
}

.allPaths {
  cursor: pointer;
  transition: fill 0.2s;
  position: relative;
  z-index: 1;

}

.popup-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.popup-content {
  margin-left: 10px;
}

svg path {
  cursor: pointer;
}

svg path:hover {
  fill: green;
}

@media (max-width: 768px) {
  svg {
    width: 100%;
    height: auto;
    transform: scale(1.2);
  }

  svg path {
    stroke-width: 2px;
  }
}

.map-container {
  position: relative;
  top: 8vh;
  left: 15vh;
  height: 100%;
}

text {
  pointer-events: none;
  font-size: 20px;
  text-anchor: middle;
  fill: black;
  block-size: 2px solid white;
  font: 20px arial;
}

#pin path{
  z-index: 100;
}

.label_point {
  stroke-width: 2px;
  stroke: red;
  fill: transparent;
}
